# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask/Microservice environments
instance/
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# SQLite database files
*.db
*.sqlite3

# Pytest / Test cache
.cache/
pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS system files
.DS_Store

# Logs
*.log
